:root {
    /* PALETA DE CORES */
    /* BRANCO */
    --white-light: #fefefd;
    --white-light-hover: #fdfdfc;
    --white-light-active: #fbfbf8;
    --white: #f2f2e8;
    --white-hover: #dadad1;
    --white-active: #c2c2ba;
    --white-dark: #b6b6ae;
    --white-dark-hover: #91918b;
    --white-dark-active: #6d6d68;
    --white-darker: #555551;
    /* PRETO */
    --black-light: #ededed;
    --black-light-hover: #e3e3e4;
    --black-light-active: #c6c6c7;
    --black: #474649;
    --black-hover: #403f42;
    --black-active: #39383a;
    --black-dark: #353537;
    --black-dark-hover: #2b2a2c;
    --black-dark-active: #201f21;
    --black-darker: #19191a;
    /* ROXO */
    --purple-light: #f2edf8;
    --purple-light-hover: #ebe4f5;
    --purple-light-active: #d5c8e9;
    --purple: #784db9;
    --purple-hover: #6c45a7;
    --purple-active: #603e94;
    --purple-dark: #5a3a8b;
    --purple-dark-hover: #482e6f;
    --purple-dark-active: #362353;
    --purple-darker: #2a1b41;
    --red-good: rgb(236, 96, 96);

    /* TIPOGRAFIA */
    --ff-poppins: "Poppins", sans-serif;

    --fs-40: 2.5rem;
    --fs-36: 2.25rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-20: 1.25rem;
    --fs-16: 1rem;
    --fs-14: 0.875rem;

    --fw-thin: 100;
    --fw-extralight: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;

    /* PADDING HEADER MAIN */
    --padding-header-main: 30px 40px 0 40px;

    /* BORDA */
    --br-1: 27px;

    /* TRANSIÇÃO */
    --transition-1: 0.25s;
    --transition-2: 0.5s;
    --transition-3: 0.1s;

    /* LISTA */
    --margin-1: 15px;

    /* ICONE */
    --tamanho-1: var(--fs-36);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}


.btn-1 {
    margin-top: 20px;
    text-align: center;
    background-color: var(--purple-dark);
    height: 20%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: var(--fw-bold);
}

.btn-del {
    text-align: center;
    background-color: var(--black-hover);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 50px;
    font-size: var(--fs-16);
    color: var(--red-good);
    transition: 0.3s ease;
    font-weight: bold;
}

.btn-1:hover {
    background-color: var(--purple-hover);
    transform: scale(1.05);
    cursor: pointer;
}

.btn-del:hover {
    background-color: var(--red-good);
    color: var(--white);
}

.title-user-config {
    text-align: center;
    font-size: var(--fs-36);
    padding-top: 50px;
    font-weight: var(--fw-bold);
}

.cont-config {
    display: flex;
    justify-content: center;
}

.user-config {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-darker);
    border-radius: 15px;
    text-align: justify;
    padding: 20px;
    width: 80%;
    height: 60vh;
    gap: 60px;
}

.img-config {
    display: flex;
    flex-direction: column;
    flex: .7;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: var(--black-dark-hover);
    border-radius: 16px;
}

.profile-img-fundo {
    border-radius: 20px;
    height: 140px;
    width: 140px;
    cursor: pointer;
    transition: 0.3s ease;
}

#profile-img {
    background-image: url("/docs/imgs/perfil.svg");
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center;
    height: 140px;
    width: 140px;
    transition: 0.3s ease;
}

.profile-img-fundo:hover #profile-img {
    background-image: url("/docs/imgs/lapis-fill.svg");
    background-size: 90px;
    height: 140px;
    width: 140px;
    background-repeat: no-repeat;
    background-position: center;
}

.text-send {
    text-decoration: underline;
    width: 200px;
}

.descMbtn {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.btn-change {
    text-align: center;
    background: none;
    height: 30px;
    width: 30px;
    border: none;
    transition: 0.3s ease;
}

.btn-change:hover #svg-change-path {
    fill: var(--purple);
}

#svg-change-path {
    fill: var(--white);
    transition: 0.3s ease;
}

#btn-change-img {
    background-size: 20px;
    height: 25px;
    width: 25px;
}

.config-title {
    font-size: var(--fs-20);
    font-weight: var(--fw-bold);
    color: var(--white);
}

.input-config {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-config-user {
    background-color: var(--black-dark);
    border-radius: 10px;
    padding: 10px;
    color: var(--white-dark-active);
    font-size: var(--fs-16);
    border: none;
    outline: none;
}

.input {
    padding-left: 20px;
    padding-right: 20px;
}

.cc-btn {
    background-color: var(--black-light);
    color: var(--purple);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
.cc-btn:hover {
    background-color: var(--purple-dark);
    color: var(--purple-light-active);
    transition: var(--transition-1);
}

.config-buttons {
    display: flex;
    gap: 1rem;
}

.ex-btn {
    background-color: var(--black-light);
    flex: 1;
    color: red;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
}

.ex-btn:hover {
    background-color: var(--red-good);
    color: var(--white);
    transition: var(--transition-1);
}

#profile-container {
    position: relative;
    width: 140px;
    height: 140px;
}

#profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
}

#profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--black-dark-hover);
}

#upload-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    opacity: 0;
    cursor: pointer;
}

#upload-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

#btn-save-config {
    background: none;
    border: none;
}

.btn-save { 
    background-color: var(--purple);
    flex: 1;
    color: var(--purple-light);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-save:hover {
    background-color: var(--purple-dark-active);
    transition: var(--transition-1);
}

@media (max-width: 1024px) {

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-x: hidden;
    }

    main {
        width: 100vw;
        overflow: auto;
    }

}



@media (max-width: 768px) {
    
    main {
        width: 100vw;
        height: 100vh;
        overflow: auto;
    }
    
    .title-user-config {
        font-size: var(--fs-24);
        padding-top: 30px;
    }

    .user-config {
        flex-direction: column;
        height: auto;
        padding: 15px;
        gap: 30px;
    }

    .img-config {
        width: 70%;
        padding: 10px;
    }

    .input-config {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .email-input {
        order: 1;
    }

    .telefone-input {
        order: 2;
    }

    .input-container {
        gap: 3px;
    }

    .config-title {
        font-size: var(--fs-16);
    }

    .input-config-user {
        font-size: var(--fs-14);
        padding: 8px;
    }

    .btn-del,
    .cc-btn,
    .ex-btn,
    .btn-save {
        font-size: var(--fs-14);
    }

    .text-send {
        font-size: var(--fs-14);
        width: 100%;
        text-align: center;
    }

    #profile-container,
    #profile-img,
    .profile-img-fundo {
        width: 100px;
        height: 100px;
    }

    #upload-btn {
        width: 100px;
        height: 100px;
    }

    .playerDisplay {
        gap: 10px;
        padding: 10px;
    }

    .playerMusic-text p {
        font-size: var(--fs-14);
    }
}
