@media (max-width: 768px) {
  body {
    background-image: none !important;
  }

  .logo {
    max-width: 60%;
    min-width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .flex.flex-wrap > div:first-child img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .flex.flex-wrap {
    border-radius: 0 !important;
  }

  .flex.flex-wrap {
    flex-direction: column !important;
    width: 100% !important;
    height: 100vh !important;
  }

  .flex.flex-wrap > div:first-child {
    width: 100% !important;
    height: 40vh;
    min-height: 200px;
  }

  .flex.flex-wrap > div:last-child {
    width: 100% !important;
    height: 60vh !important;
    overflow-y: auto;
  }
}

@media (min-width: 768px) {
  .flex.flex-wrap {
    flex-direction: row;
    height: auto;
  }

  .flex.flex-wrap > div:first-child {
    width: 40%;
    height: auto;
  }

  .flex.flex-wrap > div:last-child {
    width: 60%;
    height: 100%;
    overflow-y: unset; /* ou remova essa linha */
  }

  .logo {
    max-width: 200px;
    height: auto;
  }
}
