:root {
    /* PALETA DE CORES */
    /* BRANCO */
    --white-light: #fefefd;
    --white-light-hover: #FDFDFC;
    --white-light-active: #FBFBF8;
    --white: #F2F2E8;
    --white-hover: #DADAD1;
    --white-active: #C2C2BA;
    --white-dark: #B6B6AE;
    --white-dark-hover: #91918B;
    --white-dark-active: #6D6D68;
    --white-darker: #555551;
    /* PRETO */
    --black-light: #EDEDED;
    --black-light-hover: #E3E3E4;
    --black-light-active: #C6C6C7;
    --black: #474649;
    --black-hover: #403F42;
    --black-active: #39383A;
    --black-dark: #353537;
    --black-dark-hover: #2B2A2C;
    --black-dark-active: #201F21;
    --black-darker: #19191A;
    /* ROXO */
    --purple-light: #F2EDF8;
    --purple-light-hover: #EBE4F5;
    --purple-light-active: #D5C8E9;
    --purple: #784DB9;
    --purple-hover: #6C45A7;
    --purple-active: #603E94;
    --purple-dark: #5A3A8B;
    --purple-dark-hover: #482E6F;
    --purple-dark-active: #362353;
    --purple-darker: #2A1B41;

    /* TIPOGRAFIA */
    --ff-poppins: "Poppins", sans-serif;

    --fs-40: 2.5rem;
    --fs-36: 2.25rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-20: 1.25rem;
    --fs-16: 1rem;
    --fs-14: .875rem;

    --fw-thin: 100;
    --fw-extralight: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;

    /* PADDING HEADER MAIN */
    --padding-header-main: 30px 40px 0 40px;

    /* BORDA */
    --br-1: 27px;

    /* TRANSIÇÃO */
    --transition-1: .25s;
    --transition-2: .5s;
    --transition-3: .1s;

    /* LISTA */
    --margin-1: 15px;


    /* ICONE */
    --tamanho-1: var(--fs-36);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
    font-family: var(--ff-poppins);
}

a {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}  

#loading-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease, visibility 1s ease;
}

#loading-screen-bolhinha {
    display: flex;
    gap: 2rem;
    display: flex;
    height: 20px;
}

.bolhinha {
    background-color: var(--purple-dark);
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 100%;
    animation: bounce 3s ease-in infinite;
    animation-delay: calc(1s * var(--i));
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}


#loading-screen.fade-out {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#main-content {
    opacity: 0;
    transition: opacity 1s ease;
}
#main-content.show {
    opacity: 1;
}

.ativo {
    display: block;
}

.inativo {
    display: none;
}

.usuario-ativo {
    display: inline-block !important;
}

.lightbox {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s ease forwards;
    z-index: 40;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.active {
    display: flex;
}

.lightbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 500px;
    height: 320px;
    border-radius: 21px;
    padding: 0 30px 50px 30px;
    background-color: var(--black-dark);
}

.fechar-container {
    position: relative;
    align-self: flex-end;
    margin-top: 10px;
    cursor: pointer;
}

.fechar {
    font-size: 50px;
    transition: var(--transition-1);
}

.fechar:hover {
    color: var(--purple);
    transform: rotate(90deg);
    transition: var(--transition-1) ease;
}

.lightbox-title {
    color: white;
    font-weight: var(--fw-bold);
}

.btn-registrar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    width: 151px;
    height: 50px;
    border-radius: 30px;
    background-color: var(--purple-light);
    color: var(--purple-hover);
    font-family: var(--ff-poppins);
    transition: var(--transition-1) ease;
}

.btn-registrar:hover {
    border-color: var(--purple-hover);
    background-color: var(--purple-hover);
    color: var(--purple-light);
    transition: var(--transition-1) ease;
}

header {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--padding-header-main);
    background-color: var(--black-dark-hover);
}

header>button {
    font-size: var(--fs-20);
    font-weight: var(--fw-bold);
    border-radius: var(--br-1);
    border: 2px solid var(--purple-dark);
    background-color: var(--purple);
    width: 150px;
    height: 50px;
    transition: var(--transition-1);
}

header>button:hover {
    background-color: var(--purple-darker);
    color: var(--purple);
    cursor: pointer;
    border: 3px solid var(--purple);
}

.perfil {
    position: relative;
    display: none;
    font-size: var(--fs-32);
    cursor: pointer;
    height: 36px;
    z-index: 10;
    transition: transform 0.3s ease;
}

.perfil:hover {
    transform: scale(1.1);
}

.perfil-links {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--black-dark);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 150px;
    border-radius: 5px;
}

.perfil-links a {
    display: block;
    color: whitesmoke;
    font-size: var(--fs-20);
    padding: 0.5em 1em;
    text-decoration: none;
}

.perfil-links a:hover {
    background-color: var(--black-dark-hover);
    color: rgb(199, 199, 199);
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 40px 52px;
    background-color: var(--black-dark-hover);
    border-right: 10px solid var(--black-dark);
}

aside>picture {
    width: 80%;
}

.list {
    list-style: none;
    width: 100%;
}

.list-item {
    color: var(--white);
    margin-bottom: var(--margin-1);
}

.list-playlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
    font-size: var(--fs-32);
    font-weight: var(--fw-bold);
}

.list-playlist>hr {
    width: 100%;
    height: 2px;
}

.list-link {
    display: flex;
    transition: var(--transition-1);
    gap: 10px;
}

.list-button {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: var(--fs-24);
    font-weight: var(--fw-medium);
    background-color: var(--black-dark-hover);
    border: none;
}

.list-button:hover>.list-link {
    color: var(--purple);
}

.icone-perf {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    /* para deixar redondo */
    object-fit: cover;
}

.playLibrary {
    display: none;
}

.logo-responsiva {
    max-width: 100%;
    height: auto;
}

.conta-list {
    display: none;
}

main {
    grid-area: main;
    overflow: scroll;
    overflow-x: hidden;
    background-color: var(--black-dark-hover);
}

.artistas-card,
.musicas-card {
    cursor: pointer;
}

.artistas {
    display: flex;
    flex-direction: column;
    padding: var(--padding-header-main);
}

.artistas-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    max-width: 100vw;
    padding-bottom: 1rem;
    scrollbar-width: thin;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    scrollbar-color: var(--purple) var(--black-darker);
}

.artistas-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: var(--transition-1);
    max-width: 250px;
    padding: 6px 10px;
    border-radius: 8px;
    flex: 0 0 auto;
    scroll-snap-align: start;
}

/* .artistas-card-play {
    display: none;
    position: relative;
    font-size: 3em;
    bottom: 45%;
    left: 25%;
    background-color: var(--purple-hover);
    border-radius: 100%;
    padding: 6px 5px 6px 10px;
} */

.artistas-card-img {
    width: 202px;
    height: 202px;
    border-radius: 100%;
    background: center no-repeat;
    background-size: cover;
}

.artistas-card-titulo {
    font-size: 1.3em;
    width: 100%;
    background-color: unset;
    border: unset;
}

.artistas-card-subtitulo {
    font-size: 1em;
    width: 100%;
    text-align: left;
}

.artistas-card:hover {
    background-color: var(--black-active);
}

.carousel-controls {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.carousel-btn {
    background: var(--black-dark-active);
    color: var(--purple);
    border: none;
    font-size: 2rem;
    padding: 0 1rem;
    cursor: pointer;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background 0.2s;
}

.carousel-btn:hover {
    background: var(--black-hover);
}

.musicas {
    display: flex;
    flex-direction: column;
    padding: var(--padding-header-main);
    margin-top: 20px;
}

.musicas-list {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 270px;
    gap: 10px;
}

.musicas-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: var(--transition-1);
    max-width: 250px;
    width: 100%;
    padding: 6px 10px;
    border-radius: 8px;
}

/* .artistas-card-play {
    display: none;
    position: relative;
    font-size: 3em;
    bottom: 45%;
    left: 25%;
    background-color: var(--purple-hover);
    border-radius: 100%;
    padding: 6px 5px 6px 10px;
} */

.musicas-card-img {
    width: 100%;
    height: 202px;
    border-radius: 10px;
    background: center no-repeat;
    background-size: cover;
}

.musicas-card-titulo {
    font-size: 1.3em;
    width: 100%;
}

.musicas-card-subtitulo {
    font-size: 1em;
    width: 100%;
    text-align: left;
}

.musicas-card:hover {
    background-color: var(--black-active);
}



/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--black-dark-active);
    height: 90px;
    width: 100%;
    margin-top: 70px;
}

.footer-links {
    display: flex;
    flex: .7;
    flex-direction: column;
    padding: 20px;
}

.footer-links-titulo {
    font-weight: var(--fw-bold);
}

.footer-links-link {
    font-weight: var(--fw-medium);
    width: min-content;
}

.footer-links-link:hover {
    color: var(--purple-light-active);
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .3;
    background-color: var(--black-darker);
    font-size: var(--fs-14);
}

/* BARRA DE SCROLL */

main::-webkit-scrollbar {
    width: 10px;
    height: 0;
}

main::-webkit-scrollbar-track {
    background: var(--black);
}

main::-webkit-scrollbar-thumb {
    background: var(--black-active);
}

main::-webkit-scrollbar-thumb:hover {
    background: var(--black-dark);
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: .5fr 3fr auto;
    grid-template-areas:
        "aside header"
        "aside main"
        "player player"
    ;
    height: 100vh;
}


.musicas-card-img {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.card-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: var(--purple);
    color: var(--white);
    border: 2px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2em;
    transition: opacity 0.5s ease, border 0.3s ease;
}

.musicas-card-img:hover .card-button {
    opacity: 1;
    pointer-events: auto;
}

.card-button:hover {
    border: 2px solid white;
}

@media (max-width:1365px) {
    .image-area {
        flex-wrap: wrap;
        width: 50%;
    }

    .responsa {
        display: none;
    }
}


@media (max-width:600px) {
    .container {
        display: grid;
        height: 100dvh;
        width: 100dvw;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "main"
            "aside"
        ;
        height: 100vh;
    }

    .entrar-button {
        display: none;
    }

    header {
        display: none;
    }

    aside {
        bottom: 0px;
        position: fixed;
        background-color: var(--black-dark);
        width: 100%;
        display: flex;
        border-right: none;
        justify-content: center;
    }

    .list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
    }

    .list-item {
        margin-bottom: 0;
    }

    .list-button {
        background-color: var(--black-dark);
        font-size: 0;
    }

    .list-playlist {
        display: none;
    }

    .conta-list {
        display: block;
    }

    .playlist-add {
        display: none;
    }

    .icone {
        width: 60%;
    }

    .playLibrary {
        display: block;
    }

    .logo-responsiva {
        display: none;
    }

    .image-area {
        flex-wrap: wrap;
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        overflow-y: visible;
        margin-bottom: 80px;
    }

    footer {
        height: 250px;
    }

    .footer-links {
        flex: 1;
    }

    .footer-copyright {
        align-items: start;
        flex: 1.6;
    }
}