.playerDisplay {
    height: 7em;
    grid-area: player;
    background-color: var(--black-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    z-index: 1;
}

.playPainel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.playerIcon {
    width: 70px;
    height: 70px;
    border-radius: 1em;
    background-color: white;
}

.playerControl {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex: 1;
}

.player {
    font-size: var(--fs-36);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 10px;
    background-color: var(--black-dark);
    box-shadow: 10px 11px 21px 0px var(--black-dark-active) inset;
    transition: var(--transition-1);
}

.player:hover {
    outline: 2px solid var(--purple);
}

.player>ion-icon {
    transition: var(--transition-1);
}

.playerTime {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: var(--fs-7);
    width: 30vw;
    gap: 10px;
}

.playerTime>hr {
    width: 100%;
}

@media (max-width:600px) {
    .playerDisplay {
        width: 90%;
        left: 30px;
        bottom: 90px;
        position: fixed;
        display: flex;
        justify-content: center;
        gap: 30px;
        height: 5em;
        border-radius: 16px;
        box-shadow: 0px 0px 7px var(--purple);
        padding: 0;
    }

    .playerIcon {
        width: 50px;
        height: 50px;
        border-radius: 0.7em;
    }

    .playerTime {
        width: 40vw;
    }

    #skipBack {
        display: none;
    }

    #skipForward {
        display: none;
    }

    .playPainel {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

/* 
myaudio.play(); - This will play the music.
myaudio.pause(); - This will stop the music.
myaudio.duration; - Returns the length of the music track.
myaudio.currentTime = 0; - This will rewind the audio to the beginning.
myaudio.loop = true; - This will make the audio track loop.
myaudio.muted = true; - This will mute the track
 */