:root {
  /* PALETA DE CORES */
  /* BRANCO */
  --white-light: #fefefd;
  --white-light-hover: #FDFDFC;
  --white-light-active: #FBFBF8;
  --white: #F2F2E8;
  --white-hover: #DADAD1;
  --white-active: #C2C2BA;
  --white-dark: #B6B6AE;
  --white-dark-hover: #91918B;
  --white-dark-active: #6D6D68;
  --white-darker: #555551;
  /* PRETO */
  --black-light: #EDEDED;
  --black-light-hover: #E3E3E4;
  --black-light-active: #C6C6C7;
  --black: #474649;
  --black-hover: #403F42;
  --black-active: #39383A;
  --black-dark: #353537;
  --black-dark-hover: #2B2A2C;
  --black-dark-active: #201F21;
  --black-darker: #19191A;
  /* ROXO */
  --purple-light: #F2EDF8;
  --purple-light-hover: #EBE4F5;
  --purple-light-active: #D5C8E9;
  --purple: #784DB9;
  --purple-hover: #6C45A7;
  --purple-active: #603E94;
  --purple-dark: #5A3A8B;
  --purple-dark-hover: #482E6F;
  --purple-dark-active: #362353;
  --purple-darker: #2A1B41;

  /* TIPOGRAFIA */
  --ff-poppins: "Poppins", sans-serif;

  --fs-40: 2.5rem;
  --fs-36: 2.25rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --fs-16: 1rem;
  --fs-14: .875rem;

  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  /* PADDING HEADER MAIN */
  --padding-header-main: 30px 40px 0 40px;

  /* BORDA */
  --br-1: 27px;

  /* TRANSIÇÃO */
  --transition-1: .25s;
  --transition-2: .5s;
  --transition-3: .1s;

  /* LISTA */
  --margin-1: 15px;


  /* ICONE */
  --tamanho-1: var(--fs-36);
}
    .container-music {
      display: flex;
    }
    .publicar {
      display: flex;
      align-items: center;
      font-size: 1.5em;
      gap: 10px;
      margin-left: 40px;
      margin-bottom: 20px;
      font-weight: var(--fw-bold);
    }
    /* Popup overlay */
    .popup-overlay {
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }
    .botoes-add-del {
      justify-content: center;
      gap: 10px;
      display: flex;
      margin: 10px;
    }
    /* Popup window */
    .pop-title {
      font-size: 2rem;
      color: var(--white);
      margin-bottom: 20px;
    }
    .popup {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--black-darker);
      padding: 20px;
      border-radius: 10px;
      width: 400px;
      box-shadow: 0 0 10px var(--purple);
      gap: 10px;
    }

    .popup h2 {
      margin-top: 0;
    }

    .popup input {
      background-color: var(--black-dark);
      border: 1px solid var(--purple);
      color: var(--white-active);
      border-radius: 10px;
      width: 100%;
      height: 50px;
      padding-left: 30px;
      letter-spacing: 2px;
    }

    .popup button {
      padding: 10px 15px;
      margin-right: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .btn-add {
      background-color: #28a745;
      color: white;
    }

    .btn-cancel {
      background-color: #dc3545;
      color: white;
    }

    .card {
        display: flex;
        align-items: center;
        background-color: var(--black-hover);
        border-radius: 20px;
        padding: 20px;
        margin-left: 40px;
        margin-bottom: 20px;
        gap: 20px;
        color: #000;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 100vh;
      }
      
      .card img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 15px;
      }
      
      .card-content {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
      }
      
      .column {
        display: flex;
        flex-direction: column;
        flex: 1;
        font-size: 16px;
      }
      
      .column strong {
        display: block;
        font-weight: bold;
        font-size: 17px;
        margin-bottom: 5px;
      }
      